.github-popular-repos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  font-family: 'Lobster';
  font-size: 48px;
  color: #0f172a;
}

.language-filter-items-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding-left: 0px;
}

.repository-items-container {
  list-style: none;
}

.failure-view-img {
  height: 100px;
  width: 100px;
}
